/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

body{
  background-color: rgb(39, 43, 51);
}

.custom__progressbar {
  margin: 5rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
